.vscode/
/node_modules
/config\livewire.php
/public/hot
/public/storage
/public/images
/public/video
/public/index.php
/storage/*.key
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.editorconfig
.env.example
.styleci.yml